<!DOCTYPE html>
<html>
<head th:include="layout/_layout :: head_layout">
    <title id="title">MCC 53 Official Web - Dashboard</title>
    <link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>
<div class="_wrapper" th:replace="layout/_layout :: main_layout">
    <div class="card" id="main">
        <div class="card-header">
            <h3>Dashboard</h3>
        </div>
        <div class="card-body">
            <h1>Content</h1>
        </div>
    </div>
</div>

<div th:replace="layout/_layout :: script" th:remove="tag">
    <script src="/js/main.js"></script>
</div>
</body>
</html>