<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Update Detail Employee | HR App</title>
</head>
<body>
<div class="container">
    <h1 style="text-align: center; margin: 20px">Create Department</h1>
    <div class="row">
        <div class="col-md-12 html-editor-align-center">
            <hr>
            <h3>Update Detail Employee</h3>
            <form action="#" th:action="@{/employees/update/{id}(id=${employee.id})}" th:object="${employee}" method="POST">
                <div class="form-group">
                    <input type="text" th:field="*{firstName}" placeholder="John" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{lastName}" placeholder="Doe" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{email}" placeholder="johndoe@mail.com" class="form-control">
                </div>
                <div class="form-group">
                    <textarea th:field="*{address}" cols="30" rows="10" placeholder="Input your address" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{department.id}"  placeholder="Input your ID Dept" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Create Employee</button>
            </form>
            <hr>
            <a th:href="@{/employee}">Back To Home</a>
        </div>
    </div>
</div>
</body>
</html>