<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center; margin: 20px">Create Department</h1>
        <div class="row">
            <div class="col-md-12 html-editor-align-center">
                <hr>
                <h3>Add New Departments</h3>
                <form action="#" th:action="@{/department/save}" th:object="${department}" method="POST">
                    <div class="form-group">
                        <input type="text" th:field="*{name}" placeholder="Name of Department" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
                <hr>
                <a th:href="@{/department}">Back To Home</a>
            </div>
        </div>
    </div>
</body>
</html>