<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Title</title>
</head>
<body>
    <div class="container">

        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h3 style="text-align: center; margin: 20px">Detail Department</h3>
                <p>DepartmentID : <span th:text="${department.id}"></span></p>
                <p>Department Name : <span th:text="${department.name}"></span></p>
                <p>List Employee On This Dept: </p>
                <div th:each="employees : ${department.employee}">
                    <p><span th:text="${employees.id} + ': '"> </span><span th:text="${employees.firstName} + ' ' +${employees.lastName}"> </span></p>
                </div>
                <a href="#" class="btn btn-danger">Delete Employee</a>
            </div>
        </div>
    </div>
</body>
</html>