<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center; margin: 20px">Create Department</h1>
        <div class="row">
            <div class="col-md-12 html-editor-align-center">
                <hr>
                <h3>Add New Employee</h3>
                <form th:action="@{/employees/save}" th:object="${employee}" method="POST">
                    <div class="form-group">
                        <input type="text" th:field="*{firstName}" placeholder="John" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{lastName}" placeholder="Doe" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{email}" placeholder="johndoe@mail.com" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea th:field="*{address}" cols="30" rows="10" placeholder="Input your address" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{department}" placeholder="Input your ID Dept" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{username}" placeholder="Input your username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{password}" placeholder="Input your password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Create Employee</button>
                </form>
                <hr>
                <a th:href="@{/employees}">Back To Home</a>
            </div>
        </div>
    </div>
</body>
</html>